.Card{
    margin: 4px;
    width: 320px;
    height: 'responsive';
    background-color: white;
    border-radius: 8px;
}
.CardHeader{
    display:flex;
    flex-direction: row;
}
.CardTitle{
    font-size: 16;
    font-weight: bold;
    margin: 8px;
    flex: 1;
}
.CardChart{
    width: 304px;
    height: 240px;
    margin: 8px;
    border-radius: 8px;
    align-items:center;
}
.CardStatus{
    background-color: green;
    width: 48px;
    height: 24px;
    align-self: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}